@import "_variables.scss";
.btn {
  cursor: pointer;
  position: relative;
  padding: 1rem 2rem;
  background: pink;
  font-size: 1.75rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: all 1s;
  font-family: $font;
  &:after,
  &:before {
    content: " ";
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    border: 0rem solid #fff;
    transition: all 1s;
  }
  &:after {
    top: -0.0625rem;
    left: -0.0625rem;
    border-top: 0.3rem solid black;
    border-left: 0.3rem solid black;
  }
  &:before {
    bottom: -0.0625rem;
    right: -0.0625rem;
    border-bottom: 0.3rem solid black;
    border-right: 0.3rem solid black;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    &:before,
    &:after {
      width: 100%;
      height: 100%;
    }
  }
}
