.btn-3 {
  background: #fff;
  width: 16rem;
  height: 31rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.15);
}

.btn-3-header {
  height: 35%;
  width: 100%;
  padding: 0rem;
}

.btn-3-img {
  height: 10%;
  width: 10%;
  background-size: 10%;
  scale: 50%;
  border-radius: inherit;
  transition: all ease-in-out 0.4s;
}

.btn-3:hover .btn-3-img {
  transform: scale(1.25) rotate(2deg);
}

.btn-3-title {
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0rem;
}

.btn-3-title h1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  line-height: 1.25rem;
  padding: 0rem;
  color: #fff;
}

.button {
  padding: 0.5rem 1rem;
  position: absolute;
  width: 60%;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%, 0%);
  border: 0.0625rem solid turquoise;
  border-radius: 6rem;
  text-align: center;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  &:hover {
    background: turquoise;
    color: #fff;
  }
}
