@import "_variables.scss";
.button {
  padding: 0.5rem 1rem;
  position: relative;
  top: 5%;
  left: 48%;
  height: 100%;
  border: 1px solid turquoise;
  border-radius: 5rem;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  font-family: $font;
  &:hover {
    background: turquoise;
    color: #fff;
  }
}
