.button {
  padding: 0.5rem 1rem;
  position: absolute;
  width: 20%;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0%);
  border: 1px solid turquoise;
  border-radius: 6rem;
  text-align: center;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  &:hover {
    background: turquoise;
    color: #fff;
  }
}
