.btn-5 {
  position: relative;
  top: 30%;
  left: 42%;
}
.lanterns {
  background-color: #373737;
  width: 15rem;
  position: relative;
  border-radius: 5rem;
  margin: 1rem;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.lanterns:hover {
  background: #373737;
  border: 1px solid #232323;
  box-shadow: inset 0 0 0 0.5rem #000;
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.image {
  border-radius: 5rem;
  max-width: 100%;
  transition: all 0.5s ease-in-out;
}
.image:hover {
  border-radius: 5rem;
  opacity: 0.5;
}

.lanterns:hover::after {
  opacity: 1;
}
