@import "_variables.scss";
.btn-5 {
  position: relative;
  left: 44%;
  top: 30%;
}
.lanterns {
  background-color: #373737;
  width: 15rem;
  position: relative;
  border-radius: 5rem;
  margin: 1rem;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.lanterns:hover {
  background: #373737;
  border: 1px solid #232323;
  box-shadow: inset 0 0 0 0.5rem #000; //offset x, offset y, blur radius, spread radius, rgba(color,opacity); inset-> instead of a shadow being outside the image, the shadow is cast inside the image
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.lanterns:hover::after {
  opacity: 1;
}

.image {
  border-radius: 5rem;
  width: 100%;
  transition: all 0.5s ease-in-out; //slow, fast, slow
}
.image:hover {
  border-radius: 5rem;
  opacity: 0.5;
}
