@import "_variables.scss";
.btn-2 {
  position: relative;
  width: 100%;
  left: 45%;
  display: flex;
  flex-wrap: wrap;
  font-family: $font;
}
h1 {
  margin: {
    top: 2rem;
    right: 1rem; //puts space on the top and right of the "hover me" text
  }
  color: red;
}

.plus {
  position: relative;
  cursor: pointer;
  z-index: 1; //stack level of div
  width: 5rem;
  height: 5rem;
  color: black;
  background: #ed1c5b;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(0, 0, 1, 1),
    transform 200ms cubic-bezier(0.42, 0, 1, 1); //cubic bezier=smooth down start and end of an animation, correlate a time ratio to an output ratio expressed as numbers; 0=initial state, 1.0=final state; (x1,y1,x2,y2); 0.42,0,1,1-> animation eases in-starts slow and progressively speeds up and stops at end
  &:after {
    content: "+";
    font-size: 3rem;
  }
  &:hover {
    transform: rotate(45deg);
    box-shadow: 0 0 1px 1rem rgba(#8a3b58, 0.4), 0 0 1px 2rem rgba(#8a3b58, 0.1);
    //offset x, offset y, blur radius, spread radius, rgba(color,opacity)
  }
}
