.btn-2 {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
h1 {
  margin: {
    right: 2rem;
  }
  text-align: center;
  color: red;
}

.plus {
  position: relative;
  z-index: 1;
  width: 5rem;
  height: 5rem;
  color: black;
  background: #ed1c5b;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(0, 0, 1, 1),
    transform 200ms cubic-bezier(0, 0, 1, 1); //cubic bezier=smooth down start and end of an animation, correlate a time ratio to an output ratio expressed as numbers; 0=initial state, 1.0=final state; (x1,y1,x2,y2); 0,0,1,1-> animation moves from start to end at constant end
  &:after {
    content: "+";
    font-size: 3rem;
  }
  &:hover {
    transform: rotate(45deg);
    box-shadow: 0 0 0.0625rem 1rem rgba(#8a3b58, 0.4),
      0 0 0.0625rem 2rem rgba(#8a3b58, 0.1);
    //offset x, offset y, blur radius, spread radius, rgba(color,opacity)
  }
}
