@import "./btn";
@import "./btn2";
@import "./btn3";
@import "./btn4";
@import "./btn5";

.container {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  font-size: 62.5%;
}
